In [2]:
import pandas as pd
import os
notebook_home = os.path.abspath('')
lookup_results = notebook_home + "/lookup_results"
enron_output = lookup_results + "/enron/output"
enron_input = lookup_results + "/enron/input"
github_input = lookup_results + "/github/input"
github_output = lookup_results + "/github/output"

In [3]:
def rename_columns(df, is_long=False):
    rename_map = {
        "TACOLookupSize": "taco_size",
        "TACOLookupTime": "taco_time",
        "TACOPostProcessedLookupSize": "taco_post_size",
        "TACOPostProcessedLookupTime": "taco_post_time",
        "NoCompLookupSize": "nocomp_size",
        "NoCompLookupTime": "nocomp_time",
        "NoCompPostProcessedLookupSize": "nocomp_post_size",
        "NoCompPostProcessedLookupTime": "nocomp_post_time",
    }
    
    if is_long:
        for key in rename_map:
            rename_map[key] = "long_" + rename_map[key]
    else:
        for key in rename_map:
            rename_map[key] = "max_" + rename_map[key]
    
    return df.rename(columns=rename_map)

In [4]:
df_enron_taco_max = rename_columns(pd.read_csv(f"{enron_output}/enron_max_taco.csv"), False)
df_enron_taco_long = rename_columns(pd.read_csv(f"{enron_output}/enron_long_taco.csv"), True)
df_enron_nocomp_max = rename_columns(pd.read_csv(f"{enron_output}/enron_max_nocomp.csv"), False)
df_enron_nocomp_long = rename_columns(pd.read_csv(f"{enron_output}/enron_long_nocomp.csv"), True)
df_github_taco_max = rename_columns(pd.read_csv(f"{github_output}/github_max_taco.csv"), False)
df_github_taco_long = rename_columns(pd.read_csv(f"{github_output}/github_long_taco.csv"), True)
df_github_nocomp_max = rename_columns(pd.read_csv(f"{github_output}/github_max_nocomp.csv"), False)
df_github_nocomp_long = rename_columns(pd.read_csv(f"{github_output}/github_long_nocomp.csv"), True)

## Merge

In [5]:
df_enron_max = pd.merge(df_enron_taco_max, df_enron_nocomp_max, how="left", on=["fileName", "Max Dep Ref"])
df_enron_long = pd.merge(df_enron_taco_long, df_enron_nocomp_long, how="left", on=["fileName", "Longest Dep Ref"])

In [6]:
len(df_enron_max), len(df_enron_long)

(7382, 7381)

In [7]:
df_enron_merged = pd.merge(df_enron_max, df_enron_long, how="right", on=["fileName"])
# df_enron_merged.to_csv("./enron_result_merged.csv", index=False)

In [8]:
df_enron_merged.head()

,fileName,Max Dep Ref,max_taco_size,max_taco_time,max_taco_post_size,max_taco_post_time,max_nocomp_size,max_nocomp_time,max_nocomp_post_size,max_nocomp_post_time,Longest Dep Ref,long_taco_size,long_taco_time,long_taco_post_size,long_taco_post_time,long_nocomp_size,long_nocomp_time,long_nocomp_post_size,long_nocomp_post_time
0,chris_germany_000_1_1_1.pst.173.xls,Sheet1:U231,1.0,9.0,1.0,10.0,1.0,30.0,1.0,31.0,Sheet1:T553,1,10,1,11,1,28,1,29
1,hunter_shively_000_1_1.pst.213.xls,Sheet1:R27,1.0,1.0,1.0,1.0,11.0,1.0,1.0,1.0,Sheet1:R27,1,0,1,0,11,1,1,2
2,phillip_allen_000_1_1.pst.220.xls,weekly:I37,10.0,1.0,7.0,1.0,10.0,1.0,7.0,1.0,weekly:F6,10,1,9,1,10,1,9,1
3,sara_shackleton_000_1_1_1.pst.40.xls,Momma Credit Form :I29,3.0,0.0,3.0,0.0,3.0,0.0,3.0,0.0,Momma Credit Form :H33,3,0,3,0,3,0,3,0
4,lindy_donoho_000_1_1_1.pst.122.xls,2001:E1,27.0,1.0,26.0,1.0,27.0,3.0,26.0,3.0,2001:J1,25,2,25,2,25,3,25,3

In [9]:
df_github_max = pd.merge(df_github_taco_max, df_github_nocomp_max, how="left", on=["fileName", "Max Dep Ref"])
df_github_long = pd.merge(df_github_taco_long, df_github_nocomp_long, how="left", on=["fileName", "Longest Dep Ref"])

In [10]:
len(df_github_max), len(df_github_long)

(5343, 5344)

In [11]:
df_github_merged = pd.merge(df_github_max, df_github_long, how="right", on=["fileName"])
# df_github_merged.to_csv("./github_result_merged.csv", index=False)

In [12]:
df_github_merged.head()

,fileName,Max Dep Ref,max_taco_size,max_taco_time,max_taco_post_size,max_taco_post_time,max_nocomp_size,max_nocomp_time,max_nocomp_post_size,max_nocomp_post_time,Longest Dep Ref,long_taco_size,long_taco_time,long_taco_post_size,long_taco_post_time,long_nocomp_size,long_nocomp_time,long_nocomp_post_size,long_nocomp_post_time
0,BaoGia2_09122016.xlsx,QR 5@:D18,8.0,8.0,8.0,9.0,8.0,36.0,8.0,37.0,QR 5@:D17,8,8,8,9,8.0,24.0,8.0,26.0
1,tiny.xlsx,Orders:C35,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,Orders:C35,1,0,1,0,1.0,1.0,1.0,1.0
2,GL_Driver_Safety_Report_ferguson_20211018_1441...,Report:Y5,1.0,0.0,1.0,0.0,2216.0,71.0,1.0,75.0,Pivot Tables:M8,1,0,1,0,1.0,0.0,1.0,0.0
3,Complete Raw Data CMC.xlsx,Complete Raw Data:A422,2.0,0.0,2.0,0.0,2.0,0.0,2.0,0.0,Complete Raw Data:A333,2,0,2,0,2.0,0.0,2.0,0.0
4,1. Excel Homework.xlsx,Sheet1:E4030,2.0,0.0,1.0,0.0,2.0,0.0,1.0,0.0,Sheet1:J3248,1,0,1,0,1.0,0.0,1.0,0.0

## Analyze Enron results

In [15]:
df_larger_than = df_enron_merged[(df_enron_merged["max_taco_time"] > df_enron_merged["max_nocomp_time"]) & (df_enron_merged["max_nocomp_time"] > 10)]
df_larger_than[["fileName", "max_taco_time", "max_nocomp_time"]]

                               fileName  max_taco_time  max_nocomp_time
211   matthew_lenhart_000_1_1.pst.1.xls          567.0            483.0
802      vkaminski_000_1_1_1.pst.27.xls         5204.0            130.0
817    mary_fischer_000_1_1.pst.116.xls           24.0             13.0
2265    vkaminski_000_1_1_1.pst.101.xls           26.0             16.0
2510   mary_fischer_000_1_1.pst.114.xls           23.0             16.0
5320    vkaminski_000_1_1_1.pst.113.xls           29.0             14.0
6396   mary_fischer_000_1_1.pst.101.xls           24.0             15.0
7216    vkaminski_000_1_1_1.pst.169.xls          345.0             49.0
7233  jim_schwieger_000_1_1.pst.110.xls          515.0            100.0

In [16]:
threshold=500
df_enron_merged[df_enron_merged["max_nocomp_time"] > threshold][["fileName", "max_nocomp_time"]]

                                fileName  max_nocomp_time
91    mike_grigsby_000_1_1_1.pst.106.xls           1505.0
753    jim_schwieger_000_1_1.pst.100.xls          10466.0
770    phillip_allen_000_1_1.pst.102.xls           1128.0
789   benjamin_rogers_000_1_1.pst.39.xls           4010.0
1289   phillip_allen_000_1_1.pst.253.xls           1121.0
2465  mike_grigsby_000_1_1_1.pst.108.xls           1825.0
4062    jim_schwieger_000_1_1.pst.71.xls           9869.0
4300     harry_arora_000_1_1.pst.130.xls           9636.0
4546     kevin_presto_000_1_1.pst.16.xls           4946.0
5275      vkaminski_001_1_2_1.pst.62.xls            760.0
5331      vkaminski_000_1_1_1.pst.26.xls           2054.0
5969  matthew_lenhart_000_1_1.pst.19.xls           1749.0
5987   jim_schwieger_000_1_1.pst.106.xls          12014.0
6142  matthew_lenhart_000_1_1.pst.20.xls           1819.0
6161    mark_haedicke_000_1_2.pst.31.xls           1215.0
6366    rick_buy_000_1_1_1_1.pst.186.xls           1514.0
6982    dutch_quigley_000_1_1.pst.51.xls          13940.0
7028  matthew_lenhart_000_1_1.pst.23.xls           1586.0

In [17]:
df_enron_merged[df_enron_merged["long_nocomp_time"] > threshold][["fileName", "long_nocomp_time"]]

                                fileName  long_nocomp_time
401    john_griffith_000_1_1.pst.185.xls              4540
753    jim_schwieger_000_1_1.pst.100.xls              8238
789   benjamin_rogers_000_1_1.pst.39.xls              3590
4062    jim_schwieger_000_1_1.pst.71.xls              8807
4300     harry_arora_000_1_1.pst.130.xls              9927
4546     kevin_presto_000_1_1.pst.16.xls              4405
5275      vkaminski_001_1_2_1.pst.62.xls               538
5987   jim_schwieger_000_1_1.pst.106.xls              8946
6161    mark_haedicke_000_1_2.pst.31.xls               873
6982    dutch_quigley_000_1_1.pst.51.xls              9096

In [18]:
df_enron_merged[df_enron_merged["max_taco_time"] > threshold][["fileName", "max_taco_time"]]

                                fileName  max_taco_time
91    mike_grigsby_000_1_1_1.pst.106.xls          628.0
211    matthew_lenhart_000_1_1.pst.1.xls          567.0
770    phillip_allen_000_1_1.pst.102.xls          542.0
802       vkaminski_000_1_1_1.pst.27.xls         5204.0
1289   phillip_allen_000_1_1.pst.253.xls          551.0
2465  mike_grigsby_000_1_1_1.pst.108.xls          537.0
5969  matthew_lenhart_000_1_1.pst.19.xls          539.0
6142  matthew_lenhart_000_1_1.pst.20.xls          508.0
7028  matthew_lenhart_000_1_1.pst.23.xls          579.0
7233   jim_schwieger_000_1_1.pst.110.xls          515.0

In [19]:
df_enron_merged[df_enron_merged["long_taco_time"] > threshold][["fileName", "long_taco_time"]]

                               fileName  long_taco_time
802      vkaminski_000_1_1_1.pst.27.xls            4839
7233  jim_schwieger_000_1_1.pst.110.xls             609

In [20]:
df_enron_dep_ref = pd.read_excel(enron_input + "/enron_dep_ref.xlsx")

In [21]:
df_enron_dep_ref

,File name,Max Dep Ref,Max Dep,Longest Dep Ref,Longest Dep
0,benjamin_rogers_000_1_1.pst.124.xls,firstrun33000:D9,1,firstrun33000:F17,1
1,benjamin_rogers_000_1_1.pst.159.xls,Sheet1:G4,1,Sheet1:C4,1
2,benjamin_rogers_000_1_1.pst.197.xls,Sheet1:F27,1,Sheet1:F32,1
3,benjamin_rogers_000_1_1.pst.200.xls,Sheet1:F27,1,Sheet1:F32,1
4,benjamin_rogers_001_1_1.pst.138.xls,capacity:U77,1,capacity:S84,1
...,...,...,...,...,...
7397,matthew_lenhart_000_1_1.pst.23.xls,Power Curve:J5,34481,Curves:A1,268
7398,mike_grigsby_000_1_1_1.pst.108.xls,Power Curve:J5,34481,Curves:A1,268
7399,john_lavorato_001_1_1_1.pst.94.xls,CP Trade Data:F3,34739,CP Trade Data:F2,6952
7400,benjamin_rogers_000_1_1.pst.39.xls,Sheet1:Z1,175496,Sheet1:Z1,184
7401,NaN,NaN,175496,NaN,6952

## Analyze github dataset

In [22]:
df_larger_than = df_github_merged[(df_github_merged["max_taco_time"] > df_github_merged["max_nocomp_time"]) & (df_github_merged["max_nocomp_time"] > 10)]
df_larger_than[["fileName", "max_taco_time", "max_nocomp_time"]]

,fileName,max_taco_time,max_nocomp_time
215,DPS Calculator - Ninja.xlsx,302.0,21.0
248,mary_fischer__25393__yr 2001 Commissioning Sum...,34.0,13.0
292,5_4_합성곱신경망.xlsx,98.0,87.0
409,BAO CAO CHI 16.10-22.10 TEMPLATE.xlsx,194.0,193.0
612,mary_fischer__25415__yr 2001 Commissioning Sum...,28.0,12.0
843,LR2.xlsx,998.0,27.0
883,001-functions_financial_amortization_schedules...,157.0,52.0
938,zaloi_1_nogrants.xlsx,262.0,231.0
1147,teeeest.xlsx,5882.0,243.0
1650,Davis SOVC_G2012.xlsx,19.0,11.0
1804,GLab_SC2_sequencing_data.xlsx,2102.0,81.0
2039,sgl_line.xlsx,47553.0,1959.0
2584,NKSC116 - NH4thang.xlsx,67.0,23.0
2919,Southern Water Corp Statistical Analysis.xlsx,1650.0,42.0
3224,TPV4.9.xlsx,1425.0,551.0
4250,NKSC - 17 - new.xlsx,57.0,28.0
4922,DW0 Shun Trust Malignance.xlsx,374.0,21.0
4985,Schema_generator.xlsx,24237.0,469.0

In [23]:
threshold=500
df_github_merged[df_github_merged["max_nocomp_time"] > threshold][["fileName", "max_nocomp_time"]]

                                              fileName  max_nocomp_time
55                            aws-messages-uc-001.xlsx            513.0
58                                    地方政府债券整理-hs.xlsx            700.0
64                               Kraken_BTCEUR_1h.xlsx            558.0
178                         gaslines_model_public.xlsx         719910.0
179   Tio Cash Master 1400 Find Ratio of Star-fam.xlsx            589.0
...                                                ...              ...
5174                               UST10y_update2.xlsx           1336.0
5226        Detroit data (stata & Eviews outputs).xlsx           2871.0
5248                         homework7_ducharme_h.xlsx            583.0
5264                         螺纹_LLT模型-带止损-实盘记录优化版.xlsx          14204.0
5332                       Ventas 2.0 exceldiario.xlsx           2781.0

[122 rows x 2 columns]

In [24]:
df_github_merged[df_github_merged["long_nocomp_time"] > threshold][["fileName", "long_nocomp_time"]]

                                               fileName  long_nocomp_time
58                                     地方政府债券整理-hs.xlsx             551.0
178                          gaslines_model_public.xlsx          669027.0
179    Tio Cash Master 1400 Find Ratio of Star-fam.xlsx             554.0
310                                       basecase.xlsx             774.0
511                            GaussianClusterTest.xlsx            1510.0
...                                                 ...               ...
5116  vkaminski__40844__665 Team Project--Tracy Pan ...             586.0
5167  MGT 153 - Session 5 Classification (CustomerLo...             956.0
5174                                UST10y_update2.xlsx             884.0
5226         Detroit data (stata & Eviews outputs).xlsx            2009.0
5248                          homework7_ducharme_h.xlsx             542.0

[70 rows x 2 columns]

In [25]:
df_github_merged[df_github_merged["max_taco_time"] > threshold][["fileName", "max_taco_time"]]

                                           fileName  max_taco_time
843                                        LR2.xlsx          998.0
1147                                   teeeest.xlsx         5882.0
1804                  GLab_SC2_sequencing_data.xlsx         2102.0
2039                                  sgl_line.xlsx        47553.0
2919  Southern Water Corp Statistical Analysis.xlsx         1650.0
3043            indexes for automatovie sector.xlsx          687.0
3224                                    TPV4.9.xlsx         1425.0
3646               all reit industris per info.xlsx         1351.0
4985                          Schema_generator.xlsx        24237.0

In [26]:
df_github_merged[df_github_merged["long_taco_time"] > threshold][["fileName", "long_taco_time"]]

                                               fileName  long_taco_time
1789                                       rcv_ep2.xlsx            5048
1804                      GLab_SC2_sequencing_data.xlsx             943
2039                                      sgl_line.xlsx           46637
2859  Tio Cash Master 1600 1 seventh 0a in the neigh...            2220
3043                indexes for automatovie sector.xlsx             645
3224                                        TPV4.9.xlsx             720
3646                   all reit industris per info.xlsx             673